
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

//Magnific Popup
@import "magnific-popup";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.task {
    &.green {
        background-color: #9effc4;
    }
    margin: 5px;
    border: 1px solid;
    padding: 5px;
    border-radius: 7px;
    font-size: 18px;
    .list-icon{
        font-size: 20px;
        margin-right: 2px;
        float: right;
    }
}
textarea, input[type=text] {
    width: 100%;
}

a#add-popup-button{
    padding: 5px;
    border: 1px solid;
    margin: 5px;
    margin-top: 10px;
    font-size: 20px;
}